<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>kunyo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUP</display-name>
    <servlet-name>SignUP</servlet-name>
    <servlet-class>com.controller.user.SignUP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUP</servlet-name>
    <url-pattern>/SignUP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.controller.user.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDetails</display-name>
    <servlet-name>UpdateDetails</servlet-name>
    <servlet-class>com.controller.user.UpdateDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDetails</servlet-name>
    <url-pattern>/UpdateDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProducts</display-name>
    <servlet-name>ViewProducts</servlet-name>
    <servlet-class>com.controller.user.ViewProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProducts</servlet-name>
    <url-pattern>/ViewProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCart</display-name>
    <servlet-name>AddCart</servlet-name>
    <servlet-class>com.controller.user.AddCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCart</servlet-name>
    <url-pattern>/AddCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartRemove</display-name>
    <servlet-name>CartRemove</servlet-name>
    <servlet-class>com.controller.user.CartRemove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartRemove</servlet-name>
    <url-pattern>/CartRemove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartQuantity</display-name>
    <servlet-name>CartQuantity</servlet-name>
    <servlet-class>com.controller.user.CartQuantity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartQuantity</servlet-name>
    <url-pattern>/CartQuantity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createOrder</display-name>
    <servlet-name>createOrder</servlet-name>
    <servlet-class>com.controller.user.createOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createOrder</servlet-name>
    <url-pattern>/createOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Order_id</display-name>
    <servlet-name>Order_id</servlet-name>
    <servlet-class>com.controller.user.Order_id</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order_id</servlet-name>
    <url-pattern>/Order_id</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertOrderList</display-name>
    <servlet-name>InsertOrderList</servlet-name>
    <servlet-class>com.controller.user.InsertOrderList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertOrderList</servlet-name>
    <url-pattern>/InsertOrderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.controller.user.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddBrands</display-name>
    <servlet-name>AdminAddBrands</servlet-name>
    <servlet-class>com.controller.admin.AdminAddBrands</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddBrands</servlet-name>
    <url-pattern>/AdminAddBrands</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddCategory</display-name>
    <servlet-name>AdminAddCategory</servlet-name>
    <servlet-class>com.controller.admin.AdminAddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCategory</servlet-name>
    <url-pattern>/AdminAddCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProducts</display-name>
    <servlet-name>AdminAddProducts</servlet-name>
    <servlet-class>com.controller.admin.AdminAddProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProducts</servlet-name>
    <url-pattern>/AdminAddProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteProducts</display-name>
    <servlet-name>AdminDeleteProducts</servlet-name>
    <servlet-class>com.controller.admin.AdminDeleteProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteProducts</servlet-name>
    <url-pattern>/AdminDeleteProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOrders</display-name>
    <servlet-name>AdminOrders</servlet-name>
    <servlet-class>com.controller.admin.AdminOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrders</servlet-name>
    <url-pattern>/AdminOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProducts</display-name>
    <servlet-name>AdminProducts</servlet-name>
    <servlet-class>com.controller.admin.AdminProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProducts</servlet-name>
    <url-pattern>/AdminProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductsUpdatedProcess</display-name>
    <servlet-name>AdminProductsUpdatedProcess</servlet-name>
    <servlet-class>com.controller.admin.AdminProductsUpdatedProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductsUpdatedProcess</servlet-name>
    <url-pattern>/AdminProductsUpdatedProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProcess</display-name>
    <servlet-name>AdminUpdateProcess</servlet-name>
    <servlet-class>com.controller.admin.AdminUpdateProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProcess</servlet-name>
    <url-pattern>/AdminUpdateProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProducts</display-name>
    <servlet-name>AdminUpdateProducts</servlet-name>
    <servlet-class>com.controller.admin.AdminUpdateProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProducts</servlet-name>
    <url-pattern>/AdminUpdateProducts</url-pattern>
  </servlet-mapping>
</web-app>