.container{
    max-width: 1000px;
    margin: 0 0 0 auto;
    display: flex;
}
.main-menu{
    margin: 0;
    padding: 0; 
    list-style: none;
    text-align: left;
    position: relative;
    z-index: 999
    
}
    

nav{
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.10);
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    text-align: left;
}
nav li{
    display: inline-block;

}
nav a{
    color: hsl(180, 3%, 6%);
    text-decoration: none;
    display: block;
    padding: .75em 1.75em;
    
}
nav li:hover{
    background-color: #a1a1a1;  
}

.sub-menu{
    background-color: #a1a1a1;
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    padding: 2em;
    transition: .25s ease-in-out;
    pointer-events: none;
    top: 0;
}
nav li:hover .sub-menu{
    display: block;
    opacity: 1;
    pointer-events: all;
    top: calc(100% + 5px);
}
.sub-menu li{
   display: block; 
}
.sub-menu a{
padding: 0;
margin-bottom: .5em;
}
.menu-category{
    margin:2.5em 0 1em;
}

/* Header */
.top{
    background-color: #D9D9D9;
}
header{
    width: 100%;
    background: #373737;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.10);
    
}
.header-first{
    width: 100%;;
    display:flex;
    justify-content:space-between;
   
}
.Logo{
    margin: 0;
    display: flex;
    
}

h1{
    color: #acacac;
    text-align: left;
    padding-left: 20px;
}
.menu{
   
    display: inline-block;
   
}
.menu a{
    color: rgb(255, 255, 255);
}


.homesign{
    display:flex;
    gap:20px;
    margin-right: 300px;
    padding-top: 12px;
}
.logsign{
    display:flex;
    gap:20px;
    margin-right: 20px;
    padding-top: 12px;
}
/* Search Bar */
.searchbar{
    display: flex;
    margin-left: 100px;
}
.search{
    margin-left: 50px;
    margin-top: 3px;
    width: 300px;
    height:40px;
    max-width:700px ;
    background-color:  #a8a3a3;
    display: flex;
    align-items: center;
    border-radius: 60px;
   
}
.search input{
    padding-left: 20px;
    background: transparent;
    width:100%;
    border: 0;
    outline: none;
   
    font-size: 20px;
    color: #000000;
}
::placeholder{
    color: #0a0a0a;
}
.search button img{
    width: 20px;

}
.search button{
    border: 0;
    border-radius: 50%;
    width: 48px;
    height: 40px;
    background-color: #58629b;
    cursor: pointer;
}

.just-in{
    text-align: center;
    font-size: 30px;
}
.product-name{
    font-size:20px;
}
.product-name h1{
    text-align: center;
    font-size: 50px;
}
.product-description{
    text-align: center;
    margin: 10px 100px;
    font-size: 25px;
}

.shop-button {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: -moz-linear-gradient(top, #000000, #000000);
    background-image: -ms-linear-gradient(top, #000000, #000000);
    background-image: -o-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #000000, #000000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    width: 15%;
  }
  
  .shop-button:hover {
    background: #4a4a4a;
    background-image: -webkit-linear-gradient(top, #4a4a4a, #383838);
    background-image: -moz-linear-gradient(top, #4a4a4a, #383838);
    background-image: -ms-linear-gradient(top, #4a4a4a, #383838);
    background-image: -o-linear-gradient(top, #4a4a4a, #383838);
    background-image: linear-gradient(to bottom, #4a4a4a, #383838);
    text-decoration: none;
  }
  .shoppie{
    text-align: center;
  }
  .header{
    margin: 20px 0;
    padding: 0 0 0 53px;
  }

  .product-type p{
    font-size: 24px;
  }
  .products{
    margin-top: 2rem;
    box-sizing: border-box;
    padding: 0 50px;
  }
  .products:after{    
    content: "";
    display: table;
    clear: both;
  }
  .product-design{
    float: left;
    width: 33.33%;
    text-align: center;
   
  }
  .product-design img{
    background-color: #383838;
    height: 375px;
    width: 375px;
    

  }
  .product-design h4{
    font-size: 20px;
  }

  /* For footer */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
  body{
      line-height: 1.5;
      font-family: 'Poppins', sans-serif;
  }
  *{
      margin:0;
      padding:0;
      box-sizing: border-box;
  }
  .footer-part{
      max-width: 1170px;
      margin:auto;
  }
  .all-footer{
      display: flex;
      flex-wrap: wrap;
  }
  ul{
      list-style: none;
  }
  .footer{
      background-color: #5b5b8f;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
      font-size: 18px;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
  }
  .footer-col h4::before{
      content: '';
      position: absolute;
      left:0;
      bottom: -10px;
      background-color: #e91e63;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
  }
  .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
  }
  .footer-col ul li a{
      font-size: 16px;
      text-transform: capitalize;
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      color: #bbbbbb;
      display: block;
      transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
      color: #ffffff;
      padding-left: 8px;
  }
  .footer-col .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
      color: #24262b;
      background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }

.flex-box{
    display: flex;
    width: 1000px;
    margin: 20px auto;
}
.left{
    width: 40%;
}
.big-img{
    width: 250px;
}
.big-img img{
    width: inherit;
}
.images{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 15px;
}
.small-img{
    width: 50px;
    overflow: hidden;
    border: 1.5px solid black;
}
.small-img img{
    width: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}
.small-img:hover img{
    transform: scale(1.2);
}
.url{
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 102, 255);
}
.pname{
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
}
.ratings i{
    color: rgb(255, 136, 0);
}
.price{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}
.size{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.size p{
    font-size: 18px;
    font-weight: 500;
}
.psize{
    padding-top: 5px;
    width: 33px;
    height: 32px;
    color: #000;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50px;
}
.psize:hover{
    background-color: #9a9a9a;
    border-radius: 50px;
    border-width: 1.5px;
    font-weight: 500;
}
.quantity{
    display: flex;
}
.quantity p{
    font-size: 18px;
    font-weight: 500;
}
.quantity input{
    width: 40px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-left: 15px;
}
.btn-box{
    display: flex;
    margin-top: 40px;
}
.btn-box  button{
    font-size: 17px;
    padding: 8px 25px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}
.cart-btn{
    background-color: rgb(128, 255, 255);
    margin-right: 20px;
}
.buy-btn{
    background-color: rgb(128, 255, 255);
}
.cart-btn:hover{
    background-color: rgb(128, 255, 255);
}
.buy-btn:hover{
    background-color: rgb(128, 255, 255);
}

/* Sign Up */
/* Image ko lagi */
.profilePic{
	width:90px;
	height: 91px;
	border-radius: 50%;
	margin: 5px auto;
	display: flex;
}

#image{
	height: 91px;
	width:  90px;
	border-radius: 50%;
	border-style: solid;
	border-width: 1.5px;
}
.ext{
	text-align: center;
}

.ext input[type="file"]{
	display: none;
		
}
.profilePic {
	cursor: pointer;
}
/*  */
.container-sign{
    display: block;
  max-width: 700px;
  width: 100%;
  background-color: #eaeaea;
  padding: 25px 30px;
  height: 700px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 30px auto;
}
.container-sign .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container-sign .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #252525, #000000);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #4f4f4f;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #7d7d7d;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #383838, #b3b3b3);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #414141, #000000);
  }
.existing-acc{
    text-align: center;
    padding: 0;
    margin: 0;

	}

 @media(max-width: 584px){
 .container-sign{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container-sign .content .category{
    flex-direction: column;
  }
}

.no-product{
    text-align: center;
    
    }
.no-product p{
    font-size: 30px;
}
.error p{
    margin: 100px;
}
.existing-acc a{
    color: black;
    font-weight: bold;
}
::placeholder{
    opacity: 50%;
}

